@import './common-variables';

.slider-styled {
  box-shadow: none;
  height: 10px;
  padding: 0 10px;
  margin: 10px 0;

}

/* Hide markers on slider handles */
.slider-styled .noUi-handle::before,
.slider-styled .noUi-handle::after {
    display: none;
}

.slider-styled .noUi-connect {
  background: $color-base;
}

.slider-styled .noUi-handle {
  height: 18px;
  width: 18px;
  top: -5px;
  right: -9px; /* half the width */
  border-radius: 9px;
  background: $color-dark-xl;
}